// options
.example-options-container {
  margin: 1% 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.example-option-container {
  display: flex;
  flex-direction: column;
}

.example-option {
  margin: 2%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  border: 1px solid $grey;
  background-color: $white;
  @media (min-width: $mid-break) {
    width: 60%
  }
  // box-shadow: inset 1px 1px 5px #999;
}

.example-option-ctas {
  // margin: 1vw auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.example-option-props {
  display: flex;
  flex-direction: column;
}
