// variables

// colors
// ---------------------------------------------------------------------------------------------- //
$white: #fff;
$grey: #999;
$burnt: #cc5500;
$wp-blue: #0073aa;
$wp-red: #ca4a1f;

// screens
// ---------------------------------------------------------------------------------------------- //
$mid-break: 960px;
$mobile-break: 450px;
